* {
  margin: 0;
  box-sizing: border-box;
}

/* body {
  overflow: hidden;
} */

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: auto;
  display: block;
  height: calc(100vh - 4rem - 65px);
  overflow-y: auto;
}

td,
th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: skyblue;
  font-weight: normal;
}

.checkboxs {
  width: 1%;
}

.name {
  width: 14%;
}

.designation {
  width: 14%;
}

.company {
  width: 14%;
}

.industry {
  width: 14%;
}

.email {
  width: 14%;
}

.phoneNumber {
  width: 14%;
}

.country {
  width: 14%;
}

.action {
  width: 5%;
}

.action > button {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

header {
  width: 100%;
  height: 4rem;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-ul {
  display: flex;
  width: 95%;
  justify-content: space-between;
  list-style: none;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.filter > div > button {
  margin: 10px;
}

.hero {
  width: 100%;
}

.mainpage {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.popup {
  width: 13rem;
  height: 9rem;
  background-color: paleturquoise;
  position: absolute;
  top: 40vh;
  left: 40%;
}

.popup > label {
  height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.alert {
  position: absolute;
  width: 20rem;
  height: 2.5rem;
  left: calc(50% - 10rem);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 71, 97);
  border-radius: 7px;
  color: white;
}

.mailContainer {
  display: flex;
  width: 100%;
  height: 100vh;
}

.innerContainer {
  width: calc(100% - 12rem);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12rem;
  height: 100%;
  background-color: rgb(194, 233, 249);
}

.asidelogo {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 61px;
  color: #0884ff;
  position: relative;
  left: 10%;
}

.signOutBtn {
  position: relative;
  width: 4rem;
  cursor: pointer;
  bottom: 5.6%;
  left: 10%;
}

.asidelogo > div {
  width: 100%;
  height: 100%;
  border: 2px solid bal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidetop {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidetop > div {
  width: 100%;
  height: 66.66%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dashbord {
  width: 6rem;
  cursor: pointer;
}

.asideOpenimg {
  width: 8.5rem;
  cursor: pointer;
}

/* 
.signin {
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.signin > form {
  display: flex;
  height: 15rem;
  flex-direction: column;
  justify-content: space-around;
} */
