body {
  background-color: papayawhip;
}

.home-h {
  text-align: center;
  margin: 1rem;
}

table {
  border-collapse: separate;
  border: 1.5px solid black;
  margin: auto;
}

th,
td {
  border: 1.5px solid black;
  text-align: center;
  min-height: 1.5rem;
}
